<div id="home">
  <div class="version flex pt-8 text-base font-normal">
    <p>Phiên bản 1.0.0</p>
  </div>
  <div class="status flex items-center py-4">
    <div class="flex p-0 rounded-full bg-green-500 mr-3">
        <mat-icon class=" text-white">play_arrow</mat-icon>
    </div>
    <p class="text-green-500">Đang chạy 4060 giờ trước</p>
  </div>
  <div class="amount-data flex items-center">
    <div class="user-group flex items-center mr-5">
      <mat-icon color="primary" class="mr-2">group</mat-icon>
      <p class="text-gray-700">8 người dùng</p>
    </div>
    <div class="data-source flex items-center">
      <mat-icon color="primary" class="mr-2">storage</mat-icon>
      <p class="text-gray-700">0 nguồn dữ liệu</p>
    </div>
  </div>
  <div class="btn-asset py-9">
    <button class="bg-indigo-600 text-white py-2 px-6 rounded-3xl">
      Truy cập
    </button>
  </div>
</div>
