<div class="w-full bg-slate-50 rounded-3xl px-11 pt-6 pb-12">
    <h4 class="text-xl font-medium">text and text</h4>
    <mat-tab-group animationDuration="0ms" mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="First">
        <ng-template matTabContent>
          <app-homep></app-homep>
        </ng-template>
      </mat-tab>
      <mat-tab label="Second">
        <ng-template matTabContent>
          <app-user></app-user>
        </ng-template>
      </mat-tab>
      <mat-tab label="Third">
       <app-resources-data></app-resources-data>
      </mat-tab>
    </mat-tab-group>
    
  </div>
